<section class="panel">
  <header class="panel-heading">
    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#tab1">Simulate</a>
      </li>
      <li class="">
        <a data-toggle="tab" href="#tab2">History</a>
      </li>
    </ul>
  </header>
  <div class="panel-body">
    <div class="tab-content">
      <div id="tab1" class="tab-pane active">
        <section class="flip-scroll">
          <table class="table table-condensed cf">
            <thead class="cf">
              <tr>
                <th>Floor/Level</th>
                <th class="numeric">Waiting (up/down)</th>
                <th class="numeric">Come In</th>
                <th class="numeric">Action (open/close)</th>
                <th>Elevator A</th>
                <th>Elevator B</th>
                <th>Elevator C</th>
                <th>Elevator D</th>
              </tr>
            </thead>
            <tbody>
              <tr style="height: 50px">
                <td>Floor 10</td>
                <td>
                  <div class="form-group">
                    <label class="sr-only" for="WaitingSEO">Who is waiting for elevator</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="WaitingInput" placeholder="Waiting">
                      <div class="input-group-addon">(down)</div>
                    </div>
                  </div>
                <td></td>
                <td></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
              </tr>
              <tr style="height: 50px">
                <td>Floor 9</td>
                <td>
                  <div class="form-group">
                    <label class="sr-only" for="WaitingSEO">Who is waiting for elevator</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="WaitingInput" placeholder="Waiting">
                      <div class="input-group-addon">(down)</div>
                    </div>
                  </div>
                </td>
                <td></td>
                <td></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
              </tr>
              <tr style="height: 50px">
                <td>Floor 8</td>
                <td>
                  <div class="form-group">
                    <label class="sr-only" for="WaitingSEO">Who is waiting for elevator</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="WaitingInput" placeholder="Waiting">
                      <div class="input-group-addon"></div>
                    </div>
                  </div>
                </td>
                <td></td>
                <td></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
              </tr>
              <tr style="height: 50px">
                <td>Floor 7</td>
                <td>
                  <div class="form-group">
                    <label class="sr-only" for="WaitingSEO">Who is waiting for elevator</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="WaitingInput" placeholder="Waiting">
                      <div class="input-group-addon">(up,down)</div>
                    </div>
                  </div>
                </td>
                <td></td>
                <td></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
              </tr>
              <tr style="height: 50px">
                <td>Floor 6</td>
                <td>
                  <div class="form-group">
                    <label class="sr-only" for="WaitingSEO">Who is waiting for elevator</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="WaitingInput" placeholder="Waiting">
                      <div class="input-group-addon"></div>
                    </div>
                  </div>
                </td>
                <td></td>
                <td></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
              </tr>
              <tr style="height: 50px">
                <td>Floor 5</td>
                <td>
                  <div class="form-group">
                    <label class="sr-only" for="WaitingSEO">Who is waiting for elevator</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="WaitingInput" placeholder="Waiting">
                      <div class="input-group-addon"></div>
                    </div>
                  </div>
                </td>
                <td></td>
                <td></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
              </tr>
              <tr style="height: 50px">
                <td>Floor 4</td>
                <td>
                  <div class="form-group">
                    <label class="sr-only" for="WaitingSEO">Who is waiting for elevator</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="WaitingInput" placeholder="Waiting">
                      <div class="input-group-addon"></div>
                    </div>
                  </div>
                </td>
                <td></td>
                <td></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
              </tr>
              <tr style="height: 50px">
                <td>Floor 3</td>
                <td>
                  <div class="form-group">
                    <label class="sr-only" for="WaitingSEO">Who is waiting for elevator</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="WaitingInput" placeholder="Waiting">
                      <div class="input-group-addon"></div>
                    </div>
                  </div>
                </td>
                <td></td>
                <td></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
              </tr>
              <tr style="height: 50px">
                <td>Floor 2</td>
                <td>
                  <div class="form-group">
                    <label class="sr-only" for="WaitingSEO">Who is waiting for elevator</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="WaitingInput" placeholder="Waiting">
                      <div class="input-group-addon"></div>
                    </div>
                  </div>
                </td>
                <td></td>
                <td></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
                <td style="background: gray"></td>
              </tr>
              <tr style="height: 50px">
                <td>Floor 1</td>
                <td>
                  <div class="form-group">
                    <label class="sr-only" for="WaitingSEO">Who is waiting for elevator</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="WaitingInput" placeholder="Waiting">
                      <div class="input-group-addon">(up)</div>
                    </div>
                  </div>
                </td>
                <td></td>
                <td></td>
                <td style="background: gray">
                  <app-elevator [(value)]="value" 
                  (finishTransform)="handleElevator($event)">Loading A...</app-elevator>
                </td>
                <td style="background: gray">
                  <app-elevator [(value)]="value" 
                  (finishTransform)="handleElevator($event)">Loading B...</app-elevator>
                </td>
                <td style="background: gray">
                  <app-elevator [(value)]="value" 
                  (finishTransform)="handleElevator($event)">Loading C...</app-elevator>
                </td>
                <td style="background: gray">
                  <app-elevator [(value)]="value" 
                  (finishTransform)="handleElevator($event)">Loading D...</app-elevator>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
      <div id="tab2" class="tab-pane">
        <section class="flip-scroll">
          <div>History</div>
        </section>
      </div>
    </div>
  </div>
</section>

<div class="input-group">
  <input type='button' (click) = "up()" value = "up" />
  <input type='button' (click) = "down()" value = "down" />
</div>

